:root {
  /** Primary Colors */
  --color-primary-50: var(--color-orange-50);
  --color-primary-100: var(--color-orange-100);
  --color-primary-200: var(--color-orange-200);
  --color-primary-300: var(--color-orange-300);
  --color-primary-400: var(--color-orange-400);
  --color-primary-500: var(--color-orange-500);
  --color-primary-600: var(--color-orange-600);
  --color-primary-700: var(--color-orange-700);
  --color-primary-800: var(--color-orange-800);
  --color-primary-900: var(--color-orange-900);

  /** Secondary Colors */
  --color-secondary-50: var(--color-blue-50);
  --color-secondary-100: var(--color-blue-100);
  --color-secondary-200: var(--color-blue-200);
  --color-secondary-300: var(--color-blue-300);
  --color-secondary-400: var(--color-blue-400);
  --color-secondary-500: var(--color-blue-500);
  --color-secondary-600: var(--color-blue-600);
  --color-secondary-700: var(--color-blue-700);
  --color-secondary-800: var(--color-blue-800);
  --color-secondary-900: var(--color-blue-900);

  /** Success Colors */
  --color-success-50: var(--color-green-50);
  --color-success-100: var(--color-green-100);
  --color-success-200: var(--color-green-200);
  --color-success-300: var(--color-green-300);
  --color-success-400: var(--color-green-400);
  --color-success-500: var(--color-green-500);
  --color-success-600: var(--color-green-600);
  --color-success-700: var(--color-green-700);
  --color-success-800: var(--color-green-800);
  --color-success-900: var(--color-green-900);

  /** Danger Colors */
  --color-danger-50: var(--color-pink-50);
  --color-danger-100: var(--color-pink-100);
  --color-danger-200: var(--color-pink-200);
  --color-danger-300: var(--color-pink-300);
  --color-danger-400: var(--color-pink-400);
  --color-danger-500: var(--color-pink-500);
  --color-danger-600: var(--color-pink-600);
  --color-danger-700: var(--color-pink-700);
  --color-danger-800: var(--color-pink-800);
  --color-danger-900: var(--color-pink-900);

  /** Neutral Colors */
  --color-neutral-10: var(--color-base-10);
  --color-neutral-20: var(--color-base-20);
  --color-neutral-30: var(--color-base-30);
  --color-neutral-40: var(--color-base-40);
  --color-neutral-60: var(--color-base-60);
  --color-neutral-70: var(--color-base-70);
  --color-neutral-80: var(--color-base-80);
  --color-neutral-100: var(--color-base-100);

  /** Error Colors **/
  --color-error-50: var(--color-red-50);
  --color-error-600: var(--color-red-600);
}
