@import './scale-colors.css';

:root {
  /* Text Colors */
  --color-text-base: var(--color-neutral-100); /* body 폰트 색상 기준 */
  --color-text-inverse: var(--color-neutral-10); /* 배경색 사용 시 흰색 폰트 */
  --color-text-info: var(--color-neutral-60); /* 정보성 텍스트 색상 기준 */

  --color-text-primary: var(--color-primary-600);
  --color-text-secondary: var(--color-secondary-600);
  --color-text-success: var(--color-success-600);
  --color-text-danger: var(--color-danger-900);
  --color-text-disabled: var(--color-neutral-40);
  --color-text-error: var(--color-red-600);

  /* Background Colors */
  --color-bg-light: var(--color-neutral-10);
  --color-bg-neutral: var(--color-neutral-20);

  --color-bg-primary: var(--color-primary-500);
  --color-bg-secondary: var(--color-secondary-500);
  --color-bg-success: var(--color-success-500);
  --color-bg-danger: var(--color-danger-900);
  --color-bg-disabled: var(--color-neutral-60);
  --color-bg-error: var(--color-error-50);

  /* Border Colors */
  --color-border-base: var(--color-neutral-40); /* 기본 테두리 색상 */
  --color-border-form: var(--color-neutral-40);

  --color-border-primary: var(--color-primary-400);
  --color-border-secondary: var(--color-secondary-500);
  --color-border-success: var(--color-success-500);
  --color-border-danger: var(--color-danger-900);
  --color-border-disabled: var(--color-neutral-60);
  --color-border-errer: var(--color-border-error);
}
